<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
</head>
<body>

<h1>Novo Contato</h1>

<form th:action="@{/post}" th:object="${post}" method="post">
    <input type="text" name="name"     th:field="*{name}"     th:placeholder="Name"/> <br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>

    <input type="text" name="lastName" th:field="*{lastName}" th:placeholder="LastName"/> <br/>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</span>
    <br/>
    <button type="submit">Criar novos Contatos</button>
</form>

<br>

<a th:href="@{/post}">Contato</a>

</body>
</html>